/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/roboto/0eC6fl06luXEYWpBSJvXCBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/roboto/Fl4y0QdOxyyTHEGMXX8kcRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/roboto/-L14Jk06m6pUHB-5mXQQnRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/roboto/I3S1wsgSg9YCurV6PUkTORJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/roboto/NYDWBdD4gIq26G5XYbHsFBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/roboto/Pru33qjShpZSmG3z6VYwnRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/roboto/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/roboto/77FXFjRbGzN4aCrSFhlh3hJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/roboto/isZ-wbCXNKAbnjo6_TwHThJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/roboto/UX6i4JxQDm3fVTc1CPuwqhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/roboto/jSN2CGVDbcVyCnfJfjSdfBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/roboto/PwZc-YbIL414wB9rB1IAPRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/roboto/97uahxiqZRoncBaCEI3aWxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/roboto/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body
{
	font-family: Roboto, sans-serif !important;
    font-weight: 300;
	font: 14px/24px sans-serif;
}
.nav-menu .current_page_item > a, .nav-menu .current_page_ancestor > a, .nav-menu .current-menu-item > a, .nav-menu .current-menu-ancestor > a
{
	    font-style: inherit !important;
}
body h2,h4
{
	font-family: "Roboto", sans-serif !important;
    font-weight: 300;
	margin: 0 0 24px;
	color: #212121;
}
.menu_logo 
{
	width:100%;
}
.menu_top
{
	max-width: 1140px;
	width:100%;
	margin:auto;
}
.logo
{
	width:20% !important;
	float:left;
	min-width: 250px;
}
.change_language
{
	width:15%;
	float:right;
	min-width: 125px;
}
ul.nav-menu, div.nav-menu > ul
{
	padding:0px !important;
}
.change_language img
{
	margin:15px 5px;
	box-shadow: 1px 1px 1px 1px #312F2F;
}
.menu_logo
{
	position:fixed;
	top:30px;
	z-index:999999;
}
.founder_top
{
	max-width: 1140px;
	width:100%;
	margin:30px auto;
	text-align:center;
	display: table;
}
.main_top h4
{
    color: #212121;
    font-size: 22px;
	font-family: "Roboto", sans-serif;
    font-weight: 300;
}
.main_top
{
	max-width: 1140px;
	width:100%;
	margin:30px auto;
	text-align:center;
	display: table;
}
.wow:first-child {
	visibility: hidden;
}

.founder
{
	background:#e0e0e0;
	width:100%;
	text-align:center;
	display: table;
}
.founder_center
{
	max-width: 1140px;
	width:100%;
	margin:30px auto 0px;
	text-align:center;
	display: table;
}
.w-separator.type_invisible.size_small {
    margin: 10px 0;
	display: inline-block;
}
.w-iconbox.iconpos_left .w-iconbox-title {
    padding: 0 0 16px;
}
.w-iconbox.iconpos_left:after {
	display: table;
	content: '';
	clear: both;
}
.w-iconbox.size_small .w-iconbox-icon {
    font-size: 40px;
    line-height: 40px;
	float: left;
}
.w-iconbox.size_small.iconpos_left .w-iconbox-title, .w-iconbox.size_small.iconpos_left .w-iconbox-text {
   margin: 0px 0px 0px 62px;
    text-align: initial;
    clear: right;
}
}
.w-iconbox.iconpos_left .w-iconbox-icon {
    float: left;
}

.service 
{
	display:table;
}
.main_top div:nth-child(2)
{
	margin-left:0;
}
.one_third
{
	width:30%;
	margin-left:5%;
	float:left;
}
i.fa {
    color: #36b342;
}
i.fa-3 {
    font-size: 4em;
}
.main_top h2,.founder h2	,.gallery_list h2
{
	color:#212121;
	font-family: "Roboto", sans-serif;
    font-weight: 300;
	font-size:34px;
	margin:0 0 30px;
}
.tp-bannershadow.tp-shadow2
{
	display:none;
}
.navbar
{
    float: right;
    width:75%;
	
}
.navbar ul li a
{
	font:14px/30px sans-serif;
    text-transform: uppercase;
	color:#fff;
}
#site-navigation
{
	width:80%;
	float:left;
}
.navbar ul li a:first
{
	padding-left:0px !Important;
}
.focus a
{
	color:#ffc670;
}
.founder_left
{
	width:45%;
	float:left;
}
.founder_left img
{
	width:100%;
}
.founder_right
{
	width:45%;
	float:right;
}
.footer_center
{
	 max-width: 1200px;
    width: 100%;
    margin: auto;
}
.gallery_list
{
	position:relative;
	width:100%;
	text-align:center;
	display: table;
}
.gallery_list_center
{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    text-align: center;
    display: table;
	padding:80px 0px
}
.list_img
{
    position: relative;
    z-index: 1;
    margin: 0 auto;
}
.list_img ul li
{
	display:inline-block;
	width: 33.3333%;
	padding:2px;
	float:left;
	position:relative;
	box-shadow: 0px 0px 5px #aaa;
	overflow: hidden;
}
.list_img ul li img
{
	width:100%;
}
.l-section-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.l-section-img
{
	background-size:cover;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
}
.list_img_more
{
	padding:11px 22px;
	color:#fff;
	position:relative;
	display: inline-block;
	margin:30px;
}
.list_img_more:visited
{
	color:#fff;
}

.w-toplink.active:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.25),0 10px 30px rgba(0,0,0,0.15);
    background-color: #8c0;
}
.w-toplink {
    display: block;
    position: fixed;
    bottom: -56px;
    right: 15px;
    text-align: center;
    font-size: 34px;
    line-height: 54px;
    height: 54px;
    width: 54px;
    border-radius: 50%;
    z-index: 100;
    outline: none!important;
    -webkit-transition: background-color 0.3s,box-shadow 0.3s,bottom 0.3s;
    transition: background-color 0.3s,box-shadow 0.3s,bottom 0.3s;
    background-color: rgba(0,0,0,0.3);
    color: #fff!important;
}
.fa-angle-up
{
	color:#FFF !important;
}
.w-toplink.active {
    bottom: 15px;
}
.ripple-container {
    display: none;
    position: absolute!important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0!important;
    z-index: 0!important;
    overflow: hidden;
    border-radius: inherit;
	background-color:#fff;
	border-radius:3px;
	
	opacity:0.1;
	
}
.list_img_more:hover
{
	text-decoration:none;
}
i.fa.fa-long-arrow-right {
    color: #fff;
    margin-right: 10px;
	
}
.view-third img {
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   -o-transition: all 0.2s ease-in;
   -ms-transition: all 0.2s ease-in;
   transition: all 0.2s ease-in;
}
.view-third p {
   -webkit-transform: translateX(300px) rotate(90deg);
   -moz-transform: translateX(300px) rotate(90deg);
   -o-transform: translateX(300px) rotate(90deg);
   -ms-transform: translateX(300px) rotate(90deg);
   transform: translateX(300px) rotate(90deg);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-third a.info {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-third:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
   -webkit-transform: translate(0px, 0px);
   -moz-transform: translate(0px, 0px);
   -o-transform: translate(0px, 0px);
   -ms-transform: translate(0px, 0px);
   transform: translate(0px, 0px);
}
.mask
{
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right:0;
	bottom:0;
}
.info_img
{
	margin-top:20%;
}
.view h3 {
   text-transform: uppercase;
   color: #fff;
	font-family: "Roboto", sans-serif;
   font-weight: 300;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
}

.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   text-align: center;
}
.view-third:hover h2 {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.5s;
   -moz-transition-delay: 0.5s;
   -o-transition-delay: 0.5s;
   -ms-transition-delay: 0.5s;
   transition-delay: 0.5s;
}
.view-third:hover p {
   -webkit-transform: translateX(0px) rotate(0deg);
   -moz-transform: translateX(0px) rotate(0deg);
   -o-transform: translateX(0px) rotate(0deg);
   -ms-transform: translateX(0px) rotate(0deg);
   transform: translateX(0px) rotate(0deg);
   -webkit-transition-delay: 0.4s;
   -moz-transition-delay: 0.4s;
   -o-transition-delay: 0.4s;
   -ms-transition-delay: 0.4s;
   transition-delay: 0.4s;
}
.view-third .mask2
{
	background-color: rgba(255 ,244  ,234,0.6);
}
.view-third .mask3
{
	background-color: rgba(255 ,93  ,68,0.6);
}
.view-third .mask4
{
	background-color: rgba(65   ,186 ,174,0.6);
}
.view-third .mask5
{
	background-color: rgba(124  ,179 ,66,0.6);
}
.view-third .mask1
{
	background-color: rgba(255 ,213 ,79,0.6);
}
.view-third .mask0
{
	background-color: rgba(126 ,87 ,194,0.6);
}
.view-third .mask {
   
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: translate(460px, -100px) rotate(180deg);
   -moz-transform: translate(460px, -100px) rotate(180deg);
   -o-transform: translate(460px, -100px) rotate(180deg);
   -ms-transform: translate(460px, -100px) rotate(180deg);
   transform: translate(460px, -100px) rotate(180deg);
   -webkit-transition: all 0.2s 0.4s ease-in-out;
   -moz-transition: all 0.2s 0.4s ease-in-out;
   -o-transition: all 0.2s 0.4s ease-in-out;
   -ms-transition: all 0.2s 0.4s ease-in-out;
   transition: all 0.2s 0.4s ease-in-out;
}


.tp-caption a:hover
{
	text-decoration: none;
}
.largebgblack1
{
	background-color:#7049ba;
	border-radius:3px;
	margin-right:50px;
	padding:11px 22px;
}
.largebgblack2
{
	background-color:#8c0;
	border-radius:3px;
	padding:11px 22px;
}
.largebgblack1:hover,.largebgblack2:hover
{
	box-shadow: 0 2px 3px rgba(0,0,0,0.1),0 4px 8px rgba(0,0,0,0.3);
}
.tp-caption a:visited
{
	color:#fff;
}
.tp-caption .fa
{
	color:#fff;
}
.imgsize_cover img
{
	width:100%;
}
.answer_info
{
	max-width: 1140px;
	width:100%;
	margin:30px auto;
	display: table;
}
.imgsize_cover,.product_count_info
{
	max-width: 1140px;
	width:100%;
	margin:30px auto;
	text-align:center;
	display: table;
	 position: relative;
	    padding: 50px 0px;
}
.imgsize_cover_left
{
	float:left;
	width:47%;
	text-align:left;
	margin-top: 15px;
}
.Features:visited
{
	color:#fff !important;
}
.Features:hover,.Learn_more:hover
{
	text-decoration: none;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1),0 4px 8px rgba(0,0,0,0.3);
}
.imgsize_cover_left  p
{
	margin:50px 0px;
}
.intro
{
	float:left;
	width:25%;
	text-align:center;
	color:#fff;
}
.Features
{
	padding: 11px 22px;
    background-color: #7049ba;
    border-radius: 3px;
    color: #fff !important;
	margin-right:5px;
	    box-shadow: 0 2px 1px rgba(0,0,0,0.1),0 1px 3px rgba(0,0,0,0.3);
	    text-transform: uppercase;
}
.Learn_more
{
	padding: 11px 22px;
    background-color: #fff;
    border-radius: 3px;
    color: #000 !important;
	    box-shadow: 0 2px 1px rgba(0,0,0,0.1),0 1px 3px rgba(0,0,0,0.3);
	    text-transform: uppercase;
}
.imgsize_cover_right
{
	float:right;
	width:47%;
	margin-top: 15px;
}
.product_count
{
	position: relative;
}
.l-section-img1
{
		background-position: 50% -263.46px;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
}
.imgsize_cover_left
{
	font-weight:300;
	font-family: "Roboto", sans-serif;
}
.wpb_wrapper h2
{
	color: #fff;
	font-weight:300;
	font-family: "Roboto", sans-serif;
}
.counter
{
	    font-size: 5em;
}
.answer_info .answer_info_left
{
	margin-left:0;
}
.info_box_icon
{
    width: 60px;
    height: 60px;
    float: left;
    background-color: #ffb03a;
    border-radius: 50%;
    padding: 17px;
}
.answer_info .fa
{
	font-size:26px;
}
.answer_info h4
{
	clear:none;
	margin-left: 80px;
	font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: left;
}
.info_box
{
	margin-bottom:40px;
}	
.answer_info p
{
	margin-left: 80px;
    text-align: justify;
}
.site-footer
{
	background-color:#212121 !important;
	display: table;
    width: 100%;
}
.site-footer h4,p
{
	font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 14px;
    color: #424242;
}
.footer_center .footer_left
{
	margin-left: 0px;
}

.footer_center  input,textarea
{
	color: #141412;
    width: 100%;
    background: none !important;
    border: 1px solid #666 !important;
    margin-bottom: 10px !important;
	border-radius:3px;
}
@media (min-width: 640px) and (max-width: 1024px){
	.change_language
	{
		float:left;
	}
	#site-navigation
	{
		float:right;
		width:60px;
		position: inherit;
	}
	.navbar
	{
		position: inherit;
	}
	.menu-toggle,
	.menu-toggle:hover,
	.menu-toggle:focus,
	.menu-toggle:active {
		background: url("../images/navbar.png") no-repeat;
		border: none;
		color: #141412;
		padding: 12px 0 12px 20px;
		font-size: 0px;
		width: 60px;
		height: 50px;
		background-size: 100%;
	}
	.menu-toggle:focus {
		outline: thin dotted;
	}
	.toggled-on .nav-menu,
	.toggled-on .nav-menu > ul {
		display: block;
		margin-left: 0;
		padding: 0;
		width: 100%;
		text-align: center;
		background:#fff;
	}

	.toggled-on li,
	.toggled-on .children {
		display: block;
	}

	.toggled-on .nav-menu li > ul {
		background-color: transparent;
		display: block;
		float: none;
		margin-left: 20px;
		position: relative;
		left: auto;
		top: auto;
	}
	.navbar ul li a {
		color: #000;
	}
	.toggled-on .nav-menu li > ul a {
		color: #141412;
		width: auto;
	}

	.toggled-on .nav-menu li:hover > a,
	.toggled-on .nav-menu .children a {
		background-color: transparent;
		color: #141412;
	}

	.toggled-on .nav-menu > li a:hover,
	.toggled-on .nav-menu > ul a:hover {
		background-color: #db572f;
		color: #fff;
	}

	.toggled-on .nav-menu > li a:focus,
	.toggled-on .nav-menu > ul a:focus {
		background-color: #220e10;
		color: #fff;
	}

	ul.nav-menu,
	div.nav-menu > ul {
		display: none;
		    position: fixed;
    left: 0px;
	}
	.menu-toggle
	{
		display:block !important;
	}
	.menu_logo
	{	
		position: fixed;
		top: 0px;
		z-index: 999999;
		background-color: #fff;
	}
	.main-navigation
	{
		clear: both;
		margin: 10px 30px 0px;
		max-width: 1080px;
		min-height: 45px;
		position: relative;
		text-align: right;
	}
	.menu_top
	{
		padding-top:10px;
	}
}
@media (max-width: 640px) {
	.menu_logo
	{	
		position: fixed;
		top: 0px;
		z-index: 999999;
		background-color: #fff;
	}
	.main-navigation
	{
		position: inherit !important;
	}
	.navbar
	{
		position: inherit !important;
	}
	.toggled-on .nav-menu, .toggled-on .nav-menu > ul
	{
		position: absolute;
		left: 0px;
		background: #fff;
		width: 100%;
	}
	
	.change_language
	{
		float:left;
		margin-left: 20PX;
	}
	#site-navigation
	{
		float:right;
		width:60px;
	}
	.main-navigation
	{
		clear: both;
		margin: 10px 30px 0px;
		max-width: 1080px;
		min-height: 45px;
		position: none;
		text-align: right;
	}
	.menu_top
	{
		padding-top:10px;
	}
	.one_third
	{
		width:90%;
		margin:auto !important;
		float:none;
	}
	.l-section-img1
	{
		background-position: 100%;
	}
	.intro
	{
		width:50%;
	}
	.list_img ul li
	{
		width:90%;
	}
	.navbar ul li a
	{
		color:#000;
	}
	.imgsize_cover
	{
		display:none;
	}
	.logo
	{
		width: 100% !important;
	}
	.logo img
	{
		width:100%;
	}
	.main-navigation
	{
		margin-right:20px;
	}
	.site-footer h4, p
	{
		text-align:center;
	}
	.founder_right,.founder_left
	{
		width:90%;
		float:none;
		margin:10px auto;
	}
	.menu-menu-container
	{
		text-align:center;
	}
	.navbar
	{	
		width:100% !important;
	}
	.tp-caption .fa
	{
		color:#fff;
		font-size:12px !important;
	}
	.tp-caption span,a
	{
		font-size:12px !important;
	}
	.largebgblack1,.largebgblack2
	{
		padding:10px !Important;
	}
}